.footer {

	// .footer__container

	&__container {
	}

	// .footer__content

	&__content {
		padding-top: rem(89);
		// @include adaptiveValue("padding-top", 89, 40);
		// padding-top: rem(89);
		display: flex;
		@media (max-width:$tablet){
			padding-top: rem(50);
			flex-direction: column;
			align-items: center;
		}
		@media (max-width:$mobile){
			padding-top: rem(30);
		}
	}

	// .footer__socials

	&__socials {
		flex: 0 1 rem(380);
		margin-right: rem(30);
		@media (max-width:$tablet){
			flex: 0 1 rem(250);
		}
		@media (max-width:$mobile){
			flex: 0 1 rem(250);
			margin-right: rem(0);
		}
	}

	// .footer__socials-title

	&__socials-title {
		font-family: $fontFamily;
		font-size: rem(24);
		font-weight: 600;
		line-height: math.div(36 , 24);
		color: #ffcc00;
		@media (max-width:$tablet){
			text-align: center;
		}
	}

	// .footer__socials-text

	&__socials-text {
		@include adaptiveValue("padding-top", 47, 20);
		// padding-top: rem(47);
		font-family: $fontFamily;
		@include adaptiveValue("font-size", 17, 13);
		line-height: math.div(26 , 17);
		font-weight: 400;
		color: #231900;
		@media (max-width:$tablet){
			text-align: center;
			@include adaptiveValue("width", 400, 250);
			padding-top: rem(30);
		}
	}

	// .footer__socials-icons

	&__socials-icons {
		display: flex;
		align-items: center;
		padding-top: rem(47);
		@media (max-width: em(1041)){
			padding-top: rem(20);
		}
		@media (max-width:$tablet){
			justify-content: center;
			padding-top: rem(35);
		}
	}
	
	// .footer__socials-icon
	
	&__socials-icon {
		
		img{
			transition: all 0.3s ease 0s;
		}
		
		@media (any-hover: hover){
			&:hover{
				// stroke: red;
					// fill: #ffcc00;
				// color: #ffcc00;
				img{
					transform: scale(1.05);
					// fill: #ffcc00
					// opacity: 0.5;
					// stroke: red;
					// fill: #ffcc00;
					// color: green;
					// color: #ffcc00;
					// background-color: #ffcc00;
					// text-decoration: underline;
				}
			}
		}
		&:not(:last-child){
			margin-right: rem(47);
		}
			
	}

	// .footer__menu

	&__colums {
		display: flex;
		@media (max-width:$mobile){
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	// .footer__bottom

	&__bottom {
		padding-top: rem(188);
		padding-bottom: rem(43);
		display: flex;
		justify-content: space-between;
		@media (max-width:$tablet){
			padding-top: rem(80);
		padding-bottom: rem(15);
		}
		@media (max-width:$mobile){
			padding-top: rem(50);
		}
	}

	// .footer__bottom-copy

	&__bottom-copy {
		font-family: $fontFamily;
		font-weight: 400;
		@include adaptiveValue("font-size", 18, 8);
		line-height: math.div(27 , 18);
		color: #231900;
	}

	// .footer__bottom-powered

	&__bottom-powered {
		font-family: $fontFamily;
		font-weight: 400;
		@include adaptiveValue("font-size", 18, 8);
		line-height: math.div(27 , 18);
		color: #231900;
	}
}
.menu-footer {
	min-width: rem(175);
	display: flex;
	flex-direction: column;
	&:not(:last-child){
	margin-right: rem(81);
	@media (max-width: em(1170)){
		margin-right: rem(20);
	}
	@media (max-width:$mobile){
		margin-right: rem(0);
	}
	@media (max-width: 561px){
		align-items: center;
		margin-bottom: rem(23);
	}
}
	// .menu-footer__title

	&__title {
		font-family: $fontFamily;
		font-size: rem(24);
		@include adaptiveValue("font-size", 24, 16);
		font-weight: 600;
		line-height: math.div(36 , 24);
		color: #231900;
		@media (max-width:561px){
			text-align: center;
		}
	}

	// .menu-footer__list

	&__list {
		@include adaptiveValue("padding-top", 47, 15);
		@media (max-width:561px){
			text-align: center;
		}
	}

	// .menu-footer__item

	&__item {
		font-family: $fontFamily;
		@include adaptiveValue("font-size", 17, 13);
		line-height: math.div(26 , 17);
		font-weight: 400;
		color: #231900;
		&:not(:last-child){
			padding-bottom: rem(13);
			@media (max-width:$mobile){
				padding-bottom: rem(8);
			}
		}
	}

	// .menu-footer__link

	&__link {
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.big{
	min-width: rem(278);
	@media (max-width:$tablet){
		min-width: rem(210);
	}
	@media (max-width:$mobile){
		min-width: rem(180);
	}
}
