
.main-block {
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: center;
	// .main-block__container

	&__container {
		@include adaptiveValue("padding-top", 150, 70 );
		@include adaptiveValue("padding-bottom", 100, 50 );
		padding-left: rem(10);
		padding-right: rem(10);
		position: relative;
		z-index: 2;
		flex-grow: 1;
	}

	// .main-block__content

	&__content {
		@media (max-width:$tablet){
			text-align: center;
		}
	}

	// .main-block__title

	&__title {
	}

	// .main-block__body

	&__body {
		display: flex;
		flex: 1 1 auto;
		gap: rem(50);
		@include adaptiveValue("margin-bottom", 45, 20);
		@media (max-width:$tablet){
			flex-direction: column;
			align-items: center;
			gap: rem(20);
			margin-top: rem(30);
		}
	}

	// .main-block__body-discount

	&__body-discount {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex: 0 0 auto;
		@include adaptiveValue("width", 205, 115);
		@include adaptiveValue("height", 205, 115);
		border-radius: 50%;
		background-color: #FFCC00;
		font-family: $fontFamily;
		font-weight: 700;
		@include adaptiveValue("font-size", 32, 15);
		span{
			font-family: $fontFamily;
			font-weight: 700;
			@include adaptiveValue("font-size", 64, 35);
		}
		
	}

	// .main-block__body-text

	&__body-text {
		font-family: $fontFamily;
		font-weight: 600;
		@include adaptiveValue("font-size", 36, 20);
		@include adaptiveValue("line-height", 54, 30);
		max-width: rem(325);
		@media (max-width:$tablet){
			max-width: rem(480);
		}
		@media (max-width:$mobile){
			max-width: rem(350);
		}
		@media (max-width:$mobileSmall){
			max-width: rem(300);
		}
	}

	// .main-block__button

	&__button {
		margin-left: 0;
		@media (max-width:$tablet){
			min-width: rem(250);
		}
	}

	// .main-block__bg

	&__bg {
		overflow: visible;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: top;
		// @media (max-width:$mobile){
		// 	height: 120%;
		// }
	}
}
.title {

	// .title__label-big

	&__label-big {
		font-family: $fontFamily;
		font-weight: 700;
		@include adaptiveValue("font-size", 26, 15);
		@include adaptiveValue("margin-bottom", 50, 10);
	}

	// .title__value-big

	&__value-big {
		font-family: $fontFamily;
		font-weight: 600;
		// font-size: rem(64);
		@include adaptiveValue("font-size", 64, 35);
		@include adaptiveValue("margin-bottom", 65, 10);
		@media (max-width:$tablet){
			span{
				color: green;
			}
			@media (max-width:$mobile){
				line-height: math.div(80 , 64);
			}
		}
	}
}
//========================================================================================================================================================


.categories {
	@include adaptiveValue("margin-top", 130, 00);
	@media (max-width:$pc){
		margin-top: rem(70);
	}
	@media (max-width:$tablet){
		margin-top: rem(20);
	}
	@media (max-width:$mobileSmall){
		margin-bottom: rem(20);
	}
	// .categories__container

	&__container {
		
	}

	// .categories__title

	&__title {
		text-align: center;
	}

	// .categories__items

	&__items {
		@include adaptiveValue("margin-top", 75, 20);
		display: flex;
		justify-content: center;
		gap: rem(30);
		flex-wrap: wrap;
		@media (max-width:$mobile){
			gap: rem(50);
		}
		@media (max-width:$mobileSmall){
			gap: rem(10);
		}
	}

	// .categories__item

	&__item {
		
		
	}
}

.item-categories {
	position: relative;
	display: flex;
	flex-direction: column;
	width: auto;
	overflow: hidden;
	// .item-categories__image-ibg
	&__image-ibg {
		// display: flex;
		// align-items: flex-start;
		@include adaptiveValue("min-height", 265, 200);
		// min-height: rem(265);
		overflow: hidden;
		@include adaptiveValue("margin-bottom", 20, 5);
		// margin-bottom: rem(20);
		// border: 1px solid #000;
		img{
		}
	}
	// .item-categories__body

	&__body {
		text-align: center;
	}

	// .item-categories__title

	&__title {
		font-family: $fontFamily;
		font-weight: 700;
		font-size: rem(24);
		color: #231900;
		line-height: rem(36);
		padding-bottom: rem(14);
	}

	// .item-categories__text

	&__text {
		font-family: $fontFamily;
		font-weight: 600;
		font-size: rem(20);
		color: #231900;
		line-height: rem(30);
	}
}
//========================================================================================================================================================

.information {
	@include adaptiveValue("margin-top", 40, 10);
	background-color: #FFCC00;

	// .information__container

	&__container {
		@include adaptiveValue("padding-top", 43, 20);
		@include adaptiveValue("padding-bottom", 60, 20);
	}

	// .information__items

	&__items {
		display: flex;
		align-items: start;
		gap: rem(30);
		@media (max-width:$mobile){
			flex-direction: column;
			align-items: center;
		}
	}

	// .information__item

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		max-width: rem(380);
	}
}
.item-information {

	// .item-information__icon

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 auto;
		@include adaptiveValue("width", 115, 80);
		@include adaptiveValue("height", 115, 80);
		border-radius: 50%;
		background-color: #ffffff;
	}

	// .item-information__body

	&__body {
		@include adaptiveValue("margin-top", 42, 10);
		text-align: center;
		@media (max-width:$mobile){
			// max-width: rem(380);
		}
	}

	// .item-information__title

	&__title {
		font-family: $fontFamily;
		font-weight: 700;
		font-size: rem(20);
		line-height: rem(30);
	}

	// .item-information__text

	&__text {
		@include adaptiveValue("margin-top", 22, 10);
		font-family: $fontFamily;
		font-weight: 600;
		font-size: rem(17);
		line-height: rem(26);
	}
}
//========================================================================================================================================================

.outlets {
	@include adaptiveValue("margin-top", 76, 40);
	@include adaptiveValue("margin-bottom", 45, 20);
	// .outlets__container

	&__container {
	}

	// .outlets__title

	&__title {
		text-align: center;
	}

	// .outlets__items

	&__items {
		@include adaptiveValue("margin-top", 24, 10);
		display: flex;
		
		// align-items: center;
		justify-content: center;
		gap: rem(35);
		@media (max-width:$pc){
			flex-wrap: wrap;
		}
	}

	// .outlets__item

	&__item {
	}
}
.title {

	// .title__label

	&__label {
	}

	// .title__value

	&__value {
	}
}
.item-outlets {
	max-width: rem(370);
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: center;
	// .item-outlets__image

	&__image {
		overflow: hidden;
		img{
			transition: transform 0.8s ease 0s;
		}
		@media (any-hover: hover){
			&:hover{
				img{
					transform: scale(1.05);
				}
			}
		}
	}

	// .item-outlets__body

	&__body {
		@include adaptiveValue("margin-top", 20, 10);
		max-width: rem(300);
		text-align: center;
	}

	// .item-outlets__icon

	&__icon {
	}

	// .item-outlets__adress

	&__adress {
		display: inline-block;
		@include adaptiveValue("margin-top", 10, 10);
		font-family: $fontFamily;
		font-weight: 700;
		@include adaptiveValue("font-size", 20, 17);
		line-height: math.div(30 , 20);
		color: #231900;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				color: #FFCC00;
			}
		}
	}
}
//========================================================================================================================================================

.delivery {
	@include adaptiveValue("margin-top", 108, 40);
	@include adaptiveValue("margin-bottom", 65, 30);
	// .delivery__container

	&__container {
		display: flex;
		gap: rem(30);
		position: relative;
		@media (max-width: 1151px){
			flex-wrap: wrap;
			justify-content: center;
			// flex-direction: column-reverse;
		}
	}

	// .delivery__content

	&__content {
		flex: 0 1 100%;
		@media (max-width: 1151px){
			flex:0 1 auto;
		}
	}

	// .delivery__title

	&__title {
	}

	// .delivery__body

	&__body {
		margin-top: rem(16);
		display: block;
		max-width: rem(800);
		@media (max-width: 1151px){
			text-align: center;
		}
		
		// max-width: rem(585);
	}

	// .delivery__subtitle

	&__subtitle {
		font-family: $fontFamily;
		font-weight: 600;
		@include adaptiveValue("font-size", 26, 20);
		line-height: math.div(39 , 26);
		color: #231900;
	}

	// .delivery__text

	&__text {
		margin-top: rem(16);
		font-family: $fontFamily;
		font-weight: 400;
		@include adaptiveValue("font-size", 17, 12);
		line-height: math.div(26 , 17);
		color: #231900;
	}

	// .delivery__items

	&__items {
		margin-top: rem(41);
		display: flex;
		gap: rem(30);
		@media (max-width: 1151px){
			justify-content: center;
		}
		@media (max-width:$mobile){
			flex-direction: column;
			align-items: center;
		}
	}

	// .delivery__item

	&__item {
		
	}

	// .delivery__image-bg

	&__image-bg {
		position: relative;
		flex: 1 1 100%;
		text-align: center;
		img{
			max-width: 100%;
		}
	}
}
.title {
	@media (max-width: 1151px){
		text-align: center;
	}
	// .title__label

	&__label {
	}

	// .title__value

	&__value {
	}

	// .title__line

	&__line {
		display: inline-block;
		width: rem(175);
		height: rem(5);
		background-color:#FFCC00;
	}
}
.item-delivery {
	max-width: rem(277);
	// .item-delivery__icon

	&__icon {
	}

	// .item-delivery__title

	&__title {
		margin-top: rem(20);
		font-family: $fontFamily;
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(30 , 20);
		color: #231900;
	}
	
	// .item-delivery__text

	&__text {
		margin-top: rem(8);
		font-family: $fontFamily;
		font-weight: 400;
		@include adaptiveValue("font-size", 17, 14);
		line-height: math.div(26 , 17);
		color: #231900;
	}
}
//========================================================================================================================================================

.team {
	@include adaptiveValue("margin-top",47 ,10 );
	@include adaptiveValue("margin-bottom",65 , 20);
	// .team__container

	&__container {
	}

	// .team__title

	&__title {
		text-align: center;
	}

	// .team__items

	&__items {
		@include adaptiveValue("margin-top", 84, 40);
		display: flex;
		gap: rem(30);
		flex-wrap: wrap;
		justify-content: center;
	}

	// .team__item

	&__item {
	}
}
// 

.item-team {
	// display: flex;
	// flex-direction: column;
	// position: relative;
	// .item-team__image

	&__image {
		// flex: 1 1 100%;
		// position: relative;
		img{
			// max-width: 100%;
		}
	}

	// .item-team__name

	&__name {
		@include adaptiveValue("padding-top", 37, 20);
		font-family: $fontFamily;
		font-weight: 600;
		@include adaptiveValue("font-size", 24, 18);
		line-height: math.div( 36, 24);
		color: #231900;
	}

	// .item-team__position

	&__position {
		@include adaptiveValue("padding-top", 13, 13);
		font-family: $fontFamily;
		font-weight: 500;
		@include adaptiveValue("font-size", 20, 16);
		line-height: math.div( 30, 20);
		color: #231900;
	}
}
//========================================================================================================================================================

.discount {
	@include adaptiveValue("padding-top", 65, 30);
	@include adaptiveValue("padding-bottom", 135, 50);
	background: linear-gradient(to right, #FFCC00, #ffe581);
	// .discount__container

	&__container {
		display: flex;
		position: relative;
		justify-content: space-between;
		@media (max-width:$tablet){
			flex-direction: column;
			align-items: center;
		}
	}

	// .discount__content

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media (max-width:$tablet){
			align-items: center;
		}
	}

	// .discount__title

	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 55, 30);
		line-height: math.div(83 , 55);
		@media (max-width:$tablet){
			text-align: center;
		}
	}

	// .discount__text

	&__text {
		@include adaptiveValue("padding-top", 32, 15);
		font-weight: 600;
		@include adaptiveValue("font-size", 26, 15);
		font-size: rem(26);
		line-height: math.div(39 , 26);
		@media (max-width:$tablet){
			text-align: center;
		}
	}

	// .discount__buttons

	&__buttons {
		@include adaptiveValue("padding-top", 73, 20);
		@media (max-width:$mobileSmall){
			display: flex;
			flex-direction: column;
			gap: rem(20);
		}
	}

	// .discount__image

	&__image {
		position: relative;
		@media (max-width:$tablet){
			padding-top: rem(50);
		}
		img{
			max-width: 100%;
		}
	}
}
.btn {
	padding-right: rem(12) ;
	img{
		transition: all 0.3s ease 0s;
	}
	@media (any-hover: hover){
		&:hover{
			img{
				transform: scale(1.03);
			}
		}
	}
}
//========================================================================================================================================================

.partners {
	@include adaptiveValue("padding-top", 75, 40);
	@include adaptiveValue("padding-bottom", 75, 40);
	// .partners__container

	&__container {
	}

	// .partners__images

	&__images {
		position: relative;
		display: flex;
		justify-content: center;
		gap: rem(30);
		flex-wrap: wrap;
	}

	// .partners__image

	&__image {
		position: relative;
		img{
			max-width: 100%;
		}
	}
}

//========================================================================================================================================================
